BasedOnStyle: LLVM
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 120
SpaceAfterTemplateKeyword: false
AllowShortEnumsOnASingleLine: false
