[submodule "mimalloc"]
	path = mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "zimg"]
	path = zimg/zimg
	url = https://github.com/sekrit-twc/zimg.git
